@using URLshortener.Models.Account
@model AccountViewModel
@{
	Layout = "_Layout";
	var isVisibleRegisterTab = Model?.RegisterViewModel != null;

}
<div class="text-center"> 
	<div class="tab-content">
		<div class="tab-pane fade @(!isVisibleRegisterTab ? "show active" : "")" id="pills-login" role="tabpanel">
			@{
				ViewData.TemplateInfo.HtmlFieldPrefix = "l";
				await Html.RenderPartialAsync("_Login", Model?.LoginViewModel);
			}
		</div>
		<div class="tab-pane fade @(!isVisibleRegisterTab ? "show active" : "")" id="pills-register" role="tabpanel">
			@{
				ViewData.TemplateInfo.HtmlFieldPrefix = "r";
				await Html.RenderPartialAsync("_Register", Model?.RegisterViewModel);
			}
		</div>
	</div>
</div>
